.form__field {
  flex-grow: 1;
  margin-bottom: var(--spacing-stack-m);
}

.form__field:last-of-type {
  margin-bottom: 0;
}

.form__actions {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-end;
  margin-top: var(--spacing-stack-l);
  padding-inline: var(--inset-inline-l);
}
