.v-button-async {
  display: inline-flex;
  align-items: center;
}

.v-button-async__icon {
  margin-left: var(--spacing-inline-s);
}

.v-button-async__icon--error {
  color: var(--color-error);
}

.v-button-async__icon--success {
  color: var(--color-success);
}

.v-button-async__spinner {
  margin-left: var(--spacing-inline-s);
}
