.v-button-async {
  display: inline-flex;
  align-items: center;
}

.v-button-async__icon {
  margin-left: var(--spacing-inline-s);
}

.v-button-async__icon--error {
  color: var(--color-error);
}

.v-button-async__icon--success {
  color: var(--color-success);
}

.v-button-async__spinner {
  width: 1.2em;
  height: 1.2em;
  margin-left: var(--spacing-inline-s);
}

.v-button-async__spinner .sk-fading-circle {
  width: inherit;
  height: inherit;
  margin: 0;
}
