.field-tags .multiselect__tags {
  background-color: var(--color-light-stale-grey);
}

.field-tags .multiselect__tag {
  background-color: var(--color-blue-shapire);
}

.field-tags .multiselect__tag-icon::after {
  color: currentColor;
}

.field-tags .multiselect__tag-icon:focus,
.field-tags .multiselect__tag-icon:hover {
  background-color: var(--color-blue-shapire);
}

.field-tags .multiselect__select::before {
  color: black;
  border-top-color: currentColor;
}

.field-tags .multiselect__option--highlight {
  background-color: var(--color-blue-shapire);
}

.field-tags .multiselect__option--highlight::after {
  color: black;
  background-color: var(--color-primary);
}
