.v-user-info {
  position: relative;
  display: inline-flex;
  align-items: center;
  font-size: 0.9em;
}

.v-user-info__avatar {
  color: var(--color-text--darkmode);
}

.v-user-info__avatar--signedin {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1.5em;
  height: 1.5em;
  color: var(--color-text);
  text-transform: uppercase;
  background-color: var(--color-cadet-grey);
  border-radius: 50%;
}

.v-user-info > .btn {
  background-color: transparent;
  border-color: transparent;
}

.v-user-info__form {
  position: absolute;
  right: 0;
  bottom: 0;
  color: black;
  background-color: var(--color-timberwolf-light);
  transform: translateY(100%);
}
