.v-user-form {
  padding-block: var(--inset-block-l);
  padding-inline: var(--inset-inline-l);
  width: 25em;
  max-width: 90vw;
}

.v-user-form__error {
  margin: 1em 0;
  color: var(--color-error);
  font-style: italic;
}

.v-user-form__actions {
  justify-content: space-around;
  flex-wrap: wrap;
}

.v-user-form .btn--ghost {
  color: var(--btn-secondary-color-bg);
}

.v-user-form .link-signup {
  display: block;
  flex-basis: 100%;
  text-align: center;
  margin-top: var(--spacing-stack-m);
}
