<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="dns-prefetch" href="//fonts.gstatic.com" />
    <link rel="dns-prefetch" href="//fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="This site is the demo for the final degree project of David Marchena."
    />
    <title>Arikata: browser-based Javascript katas.</title>
    <link rel="shortcut icon" href="#" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <%=htmlWebpackPlugin.options.svgSprite %>
    <div id="app"></div>
  </body>
</html>
