<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Vue + Express + Webpack</title>
    <link rel="shortcut icon" href="#" />
  </head>
  <body>
    <%=htmlWebpackPlugin.options.svgSprite %>
    <div id="app"></div>
  </body>
</html>
