<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="This site is the demo for the final degree project of David Marchena."
    />
    <title>Arikata: browser-based Javascript katas.</title>
    <link rel="shortcut icon" href="#" />
  </head>
  <body>
    <%=htmlWebpackPlugin.options.svgSprite %>
    <div id="app"></div>
  </body>
</html>
