body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: var(--font-family-base);
}

:active {
  outline: none;
}

:focus {
  outline: 2px dotted var(--color-primary);
  outline-offset: 1px;
}

main :focus {
  outline-color: var(--color-secondary);
}

a {
  color: var(--color-secondary);
}

pre {
  font-family: var(--font-family-monospace);
  white-space: pre-wrap;
}
