body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: var(--font-family-base);
}

a {
  color: var(--color-secondary);
}

pre {
  font-family: var(--font-family-monospace);
  white-space: pre-wrap;
}
