body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: var(--font-family-base);
}

:active {
  outline: none;
}

:focus {
  outline: 2px dotted var(--color-primary);
  outline-offset: 1px;
}

main :focus {
  outline-color: var(--color-secondary);
}

a {
  color: var(--color-secondary);
}

kbd {
  display: inline-block;
  padding-block: var(--inset-block-xs);
  padding-inline: var(--inset-inline-xs);
  line-height: 1;
  border-radius: .3em;
  background-color: var(--color-cadet-grey);
  font-family: var(--font-family-monospace);
}

pre {
  font-family: var(--font-family-monospace);
  white-space: pre-wrap;
}
