.app {
  display: grid;
  flex-grow: 1;
  grid-template:
    'header' auto
    'main' 1fr / auto;
  min-height: 100vh;
}

.app__header {
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  grid-area: header;
  align-items: center;
  justify-content: space-between;
  height: var(--header-height);
  color: var(--color-primary);
  background-color: var(--color-secondary);
  padding-inline: var(--inset-inline-m);
}

.app__home-link {
  color: currentColor;
  text-decoration: none;
}

.app__name {
  margin: 0;
  font-size: 1.2em;
  text-transform: uppercase;
}

.app__main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  grid-area: main;
  margin: 0;
}
