.app {
  display: grid;
  flex-grow: 1;
  grid-template:
    'header' auto
    'main' 1fr
    'footer' auto / auto;
  min-height: 100vh;
}

.app__header {
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  grid-area: header;
  align-items: center;
  justify-content: space-between;
  height: var(--header-height);
  color: var(--color-primary);
  background-color: var(--color-blue-shapire);
  padding-inline: var(--inset-inline-m);
}

.app__name {
  margin: 0;
  font-weight: 400;
  font-size: 1.2em;
  text-transform: uppercase;
  padding-block-start: var(--inset-block-s);
}

.app__name svg {
  width: 1em;
  height: 1em;
  margin-right: var(--spacing-inline-s);
  font-size: 1.6em;
  transform: translateY(-0.1em);
}

.app__name a {
  color: currentColor;
  text-decoration: none;
}

.app__main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  grid-area: main;
  margin: 0;
}

.app__footer {
  z-index: 2;
  display: block;
  grid-area: footer;
  text-align: center;
  background-color: var(--background-color);
  padding-block: var(--inset-block-xl);
  padding-inline: var(--inset-inline-xl);
}

.app__footer a {
  color: var(--color-primary);
}
