.home {
  flex-grow: 1;
}

.home__hero {
  display: grid;
  grid-template:
    'image heading' 1fr
    'image text' auto
    'image action' 1fr / 4fr 6fr;
  color: var(--color-text--darkmode);
  font-weight: 300;
  font-size: 1.3em;
  background-color: black;
}

.home__jslogo {
  width: 1em;
  height: 1em;
  font-size: 2.5em;
  vertical-align: baseline;
  transform: translateY(0.1em);
}

.home__hero-heading {
  grid-area: heading;
  align-self: flex-end;
  color: var(--color-primary);
  font-weight: inherit;
  text-transform: uppercase;
  margin-block: var(--inset-block-l);
  padding-inline: var(--inset-inline-l);
}

.home__hero-heading em {
  font-size: 1.2em;
  font-style: inherit;
}

.home__hero-text {
  grid-area: text;
  margin: 0;
  padding-inline: var(--inset-inline-l);
}

.home__hero-action {
  grid-area: action;
  align-self: flex-end;
  text-align: right;
  padding-block: var(--inset-block-xl);
  padding-inline: var(--inset-inline-xl);
}

.home__hero-action .btn {
  color: var(--color-primary);
  font-weight: inherit;
  font-size: 1.2rem;
  border-color: currentColor;
  cursor: pointer;
}

.home__hero-image {
  grid-area: image;
}

.home__hero-image img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

.home__info,
.home__project {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-cadet-grey);
  padding-block: var(--inset-block-xl);
  padding-inline: var(--inset-inline-xl);
}

.home__info-heading,
.home__project-heading {
  font-weight: 400;
  font-size: 1.5em;
  text-align: center;
}

.home__info-text,
.home__project-text {
  max-width: 30em;
  font-size: 1.1em;
  text-align: center;
}

.home__info {
  color: black;
}

.home__project {
  position: relative;
  padding-bottom: 40%;
  color: white;
  font-weight: 300;
  background-color: transparent;
}

.home__project::before {
  position: absolute;
  z-index: -1;
  display: block;
  background-color: var(--color-blue-shapire);
  opacity: 0.85;
  content: '';
  inset: 0;
}

.home__project a {
  color: var(--color-primary);
}

.home__project-background {
  position: absolute;
  inset: 0;
  z-index: -2;
}

.home__project-background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 90%;
}

.home__project-features {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
}

.home__project-feature {
  flex-basis: 100%;
  text-align: center;
  list-style: none;
  padding-block: var(--inset-block-l);
  padding-inline: var(--inset-inline-l);
}

@media (min-width: 48em) {
  .home__project-feature {
    flex-basis: 50%;
  }
}

@media (min-width: 64em) {
  .home__project-feature {
    flex-basis: 33%;
  }
}

.home__project-feature svg {
  width: 33%;
  margin-block-end: var(--spacing-stack-m);
}

.home__project-feature strong {
  display: block;
  margin-block-end: var(--spacing-stack-m);
  font-weight: 500;
  text-transform: uppercase;
}
