.sign-in,
.sign-up {
  max-width: 20em;
  margin-right: auto;
  margin-left: auto;
}

.sign-up {
  max-width: 28em;
}

.sign-in__error,
.sign-up__error {
  margin: 1em 0;
  color: var(--color-error);
  font-style: italic;
}

.sign-in__actions {
  justify-content: space-between;
}

.sign-in__sign-up-link {
  display: inline-block;
}
