.training {
  display: grid;
  flex-grow: 1;
  grid-template:
    'editor kata' auto
    'editor details' minmax(0, 1fr)
    'editor console' minmax(0, 2fr) / 2fr 1fr;
  max-height: var(--scrollless-page-height);
}

.training__kata {
  grid-area: kata;
  padding-block: var(--inset-block-m);
  padding-inline: var(--inset-inline-m);
}

.training__details {
  grid-area: details;
  padding-block: var(--inset-block-m);
  padding-inline: var(--inset-inline-m);
  overflow: auto;
}

.training__console {
  grid-area: console;
}

.training__editor-container {
  display: flex;
  flex-direction: column;
  grid-area: editor;
}

.training__editor-tip {
  height: 0;
  margin: 0;
  padding-inline: var(--inset-inline-m);
  background-color: var(--color-light-stale-grey);
  line-height: 2;
  opacity: 0;
  transition: none;
}

.training__editor:focus-within + .training__editor-tip {
  height: auto;
  opacity: 1;
  transition: opacity 1s ease;
}

.training__editor-actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-block: var(--inset-block-m);
  padding-inline: var(--inset-inline-m);
}

.training__editor-actions--error {
  background-color: var(--color-error);
}

.training__editor-msg {
  flex-grow: 1;
}
