.kata-list {
  padding: var(--inset-block-main) var(--inset-inline-main);
}

.kata-list__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--spacing-stack-l);
}

.kata-list__header .btn {
  margin-left: var(--spacing-inline-s);
}

.kata-list__heading {
  flex-grow: 1;
  font-weight: 700;
  font-size: 1.3em;
  text-transform: uppercase;
}

.kata-list__katas {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.kata-list__kata {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: flex-end;
  list-style: none;
  margin-block-end: var(--spacing-stack-l);
}

.kata-list__kata-name {
  display: flex;
  flex-grow: 1;
  align-items: center;
  font-weight: 300;
  font-size: 1.2em;
  background-image: linear-gradient(
    90deg,
    var(--color-blue-shapire),
    var(--color-blue-shapire) 85%,
    var(--background-color)
  );
  padding-block: var(--inset-block-m);
  padding-inline: var(--inset-inline-m);
}

.kata-list__kata-name--link {
  color: currentColor;
  text-decoration: none;
}

.kata-list__kata-name--link:hover,
.kata-list__kata-name--link:focus {
  color: var(--color-primary);
}

.kata-list__kata-name,
.kata-list__kata-actions {
  margin-block-end: var(--spacing-stack-m);
}

.kata-list__tags,
.kata-list__trainings {
  display: flex;
  flex: 0 1 100%;
  flex-wrap: wrap;
  padding: 0;
}

.kata-list__tag {
  margin-left: var(--spacing-inline-m);
  list-style: none;
}

.kata-list__tag a:hover,
.kata-list__tag a:focus {
  color: var(--color-primary);
}

.kata-list__training {
  margin-left: var(--spacing-inline-l);
  list-style: none;
}

.kata-list__training .icon {
  margin-right: var(--spacing-inline-s);
}
