.training {
  --background-color: var(--color-cadet-grey);
  display: grid;
  flex-grow: 1;
  grid-template:
    'editor back' auto
    'editor kata' auto
    'editor details' minmax(0, 2fr)
    'editor console' minmax(0, 3fr) / 2fr 1fr;
  max-height: var(--scrollless-page-height);
  color: black;
  background-color: var(--background-color);
}

.training__back {
  grid-area: back;
  padding-block: var(--inset-block-m);
  padding-inline: var(--inset-inline-m);
  color: currentColor;
  text-align: right;
}

.training__kata {
  grid-area: kata;
  padding-block: var(--inset-block-m);
  padding-inline: var(--inset-inline-m);
  margin: 0;
}

.training__details {
  --shadow-begin-color: hsla(201, 38%, 29%, .8); /* rgba(0,0,0,.4) */
  --shadow-end-color: hsla(201, 38%, 29%, 0); /* rgba(255,255,255,0) */
  grid-area: details;
  padding-block: var(--inset-block-l);
  padding-inline: var(--inset-inline-l);
  overflow: auto;

	background:
    /* Shadow covers */
    linear-gradient(var(--background-color) 30%, var(--shadow-end-color)),
    linear-gradient(var(--shadow-end-color), var(--background-color) 70%) 0 100%,

    /* Shadows */
    radial-gradient(50% 0, farthest-side, var(--shadow-begin-color), var(--shadow-end-color)),
    radial-gradient(50% 100%,farthest-side, var(--shadow-begin-color), var(--shadow-end-color)) 0 100%;
  background:
    /* Shadow covers */
    linear-gradient(var(--background-color) 30%, rgba(255,255,255,0)),
    linear-gradient(rgba(255,255,255,0), var(--background-color) 70%) 0 100%,

    /* Shadows */
    radial-gradient(farthest-side at 50% 0, var(--shadow-begin-color), var(--shadow-end-color)),
    radial-gradient(farthest-side at 50% 100%, var(--shadow-begin-color), var(--shadow-end-color)) 0 100%;
  background-repeat: no-repeat;
  background-color: var(--background-color);
  background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;

  /* Opera doesn’t support this in the shorthand */
  background-attachment: local, local, scroll, scroll;
}

.training__console {
  grid-area: console;
}

.training__editor-container {
  display: flex;
  flex-direction: column;
  grid-area: editor;
}

.training__editor-tip {
  height: 0;
  margin: 0;
  line-height: 2;
  background-color: var(--color-light-stale-grey);
  opacity: 0;
  transition: none;
  padding-inline: var(--inset-inline-m);
}

.training__editor:focus-within + .training__editor-tip {
  height: auto;
  opacity: 1;
  transition: opacity 1s ease;
}

.training__editor-actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-block: var(--inset-block-m);
  padding-inline: var(--inset-inline-m);
}

.training__editor-actions--error {
  background-color: var(--color-error);
}

.training__editor-msg {
  flex-grow: 1;
}
