:root {
  --color-minion-yellow: hsl(53, 93%, 64%);
  --color-blue-shapire: hsl(201, 38%, 29%);
  --color-light-stale-grey: hsl(203, 17%, 51%);
  --color-cadet-grey: hsl(203, 18%, 68%);
  --color-timberwolf: hsl(38, 8%, 81%);
  --color-primary: var(--color-minion-yellow);
  --color-secondary: var(--color-blue-shapire);
}
